@import "tailwindcss";

@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Forma";
  src: url("/fonts/Forma-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Forma";
  src: url("/fonts/Forma-Bold.otf");
  font-weight: 700;
}

body {
  font-family: "Forma", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  @apply bg-stone-50;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-neutral-900;
    color: rgb(203 213 225); /* slate-300 */
  }
}
